@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* Sección uno Indumentaria */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.tituloIndumentaria {
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 4rem;
}

.tituloProductos {
  font-size: 4rem;
  justify-content: center;
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  margin-bottom: 20px;
}

.parrafoProductos {
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  flex-direction: column;
  margin-bottom: 100px;
}

/* Sección dos Indumentaria */
.imagenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.imagenes .imagenGrid:hover {
  transform: scale(2);
}
.imagenes .imagenGrid {
  transition: all 1.5s;
}
.imagenes .imagenGrid img {
  border: solid black 4px;
}

/* Sección tres Indumentaria */
.teIndumentaria {
  text-align: center;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 100px;
  align-items: center;
}

.tallesIndumentaria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.tallesIndumentaria img {
  border: solid black 4px;
}

/* Header */
header .tituloPrincipal {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
}
header .ancho {
  width: 70px;
}

.nav {
  justify-content: flex-end;
}

/* Sección uno calzado */
.titulosCalzado {
  padding-bottom: 45px;
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  margin: 4rem;
}

/* Sección dos calzado */
.parrafoCalzado {
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.parrafoCalzado1 {
  color: black;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 4rem;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.imagenes .imagenGrid:hover {
  transform: scale(2);
}
.imagenes .imagenGrid {
  transition: all 1.5s;
}
.imagenes .imagenGrid img {
  border: 4px solid black;
}

/* Sección tres calzado */
.teCalzado {
  margin-bottom: 150px;
  margin-top: 150px;
  text-align: center;
}

.talleCalzado {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
}
.talleCalzado img {
  border: 4px solid black;
}

/* Footer */
.tituloUltimo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: white;
  background-color: black;
}
.tituloUltimo img {
  margin: 2rem;
}

/* Body */
body {
  background-image: radial-gradient(circle at 50% 50%, #9f827f 0, #907978 25%, #7f7070 50%, #6f6767 75%, #605e5e 100%);
}
body html {
  scroll-behavior: smooth;
}

/* Sección uno Index */
.nav {
  justify-content: flex-end;
}

.tituloPrincipal {
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 4rem;
  flex-direction: column;
}
.tituloPrincipal p {
  margin: 3rem;
}

.tituloPrimero {
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.subTitulos {
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  font-size: 25px;
}

.parrafos {
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
  font-size: 25px;
}

.descripcion {
  display: flex;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parrafo {
  color: black;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* Sección tres Index */
.titulos {
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-decoration: underline;
  position: static;
}
.titulos .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulos .logo .parrafo {
  color: black;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulos .logo .parrafo .foto2 {
  margin: 30px 0px 30px 1100px;
}

.imagenes {
  gap: 25px;
}

.tituloIndumentaria, .teIndumentaria, .titulosCalzado, .teCalzado {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}

.parrafoCalzado {
  color: black;
  font-family: "Roboto", sans-serif;
  margin-bottom: 120px;
}

/* Importación de fuentes de google fonts */
body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  background-color: #ab4493;
}

.contact_form {
  width: 500px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 450px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 450px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: black;
  border-color: green;
  border-style: dashed;
  border-radius: 10px;
  width: 450px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: red;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: black;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
  text-align: center;
  margin-right: 25px;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

/* Dispositivos */
/* Mobile */
@media screen and (max-width: 480px) {
  .parrafoCalzado {
    font-size: 1.5rem;
    text-align: center;
  }

  .parrafoCalzado1 {
    text-align: center;
    font-size: 2rem;
  }

  .titulo {
    margin: 4rem;
    text-align: left;
  }

  .tituloProductos {
    text-align: center;
    font-size: 2rem;
  }

  .parrafoProductos {
    font-size: 1.5rem;
    text-align: center;
  }

  .imagenes {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
    align-items: center;
    justify-items: center;
  }
  .imagenes .imagenGrid {
    transition: all 1.5s;
  }
  .imagenes .imagenGrid:hover {
    transform: scale(0);
  }

  .tecalzado {
    color: black;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    margin-bottom: 115px;
    margin-top: 100px;
    text-align: center;
  }

  .talles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-left: 0;
    justify-items: center;
  }
  .talles .talleGrid:hover {
    transform: scale(0);
  }
  .talles .talleGrid:hover .talleGrid {
    transition: all 1.5s;
    margin-left: 0;
  }
  .talles .talleGrid:hover .talleGrid img {
    border: 4px solid black;
  }
  .talles .talleIndumentaria {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 115px;
  }
  .talles .tallesIndumentaria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
  }
  .talles .tallesGrid:hover {
    transform: scale(0);
  }
  .talles .tallesGrid:hover .tallesGrid {
    transition: all 1.5s;
    margin-left: 0;
  }
  .talles .tallesGrid:hover .tallesGrid img {
    border: 4px black solid;
  }

  .contact_form {
    width: 300px;
  }

  input {
    width: 250px;
  }

  textarea {
    width: 250px;
  }

  button {
    width: 250px;
  }

  .tituloPrincipal {
    margin-bottom: 50px;
    font-size: 2rem;
  }
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1000px) {
  .parrafoCalzado {
    font-size: 1.5rem;
    text-align: center;
  }

  .parrafoCalzado1 {
    text-align: center;
    font-size: 2rem;
  }

  .titulo {
    margin: 4rem;
    text-align: left;
  }

  .tituloProductos {
    text-align: center;
    font-size: 2rem;
  }

  .parrafoProductos {
    font-size: 1.5rem;
    text-align: center;
  }

  .imagenes {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    align-items: center;
    justify-items: center;
  }
  .imagenes .imagenGrid {
    transition: all 1.5s;
  }
  .imagenes .imagenGrid:hover {
    transform: scale(1);
  }

  .tecalzado {
    color: black;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    margin-bottom: 115px;
    margin-top: 100px;
    text-align: center;
  }

  .talles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 0;
    justify-items: center;
  }
  .talles .talleGrid:hover {
    transform: scale(1);
  }
  .talles .talleGrid {
    transition: all 1.5s;
    margin-left: 0;
  }
  .talles .talleGrid img {
    border: 4px solid black;
  }

  .contact_form {
    width: 300px;
  }

  input {
    width: 250px;
  }

  textarea {
    width: 250px;
  }

  button {
    width: 250px;
  }

  .tituloPrincipal {
    margin-bottom: 50px;
    font-size: 2rem;
  }
}
/* Desktop */

/*# sourceMappingURL=style.css.map */
