/* Dispositivos */
/* Mobile */
@media screen and (max-width: 480px) {

    .titulo{
        margin: 2rem;
    }

    .imagenes {
        @extend %imagenes;
        display: nth($display, 2);
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    
        .imagenGrid {
            transition: all 1.5s;
        }
    
        .imagenGrid:hover {
            transform: scale(1);
        }
    
    
    }


}


/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1000px) {
}

/* Desktop */
@media screen and (min-width: 1001px) {

}