@import "../components/listas";

* {
    margin: 0;
    padding: 0;
}

// Nav
.nav {
    justify-content: nth($justify, 3);
}

/* Sección uno calzado */

.titulosCalzado {
    @extend %titulos;
    padding-bottom: 45px;
    text-align: nth($textAlign, 1);
    justify-content: nth($justify, 1);
    font-size: 4rem;
    margin: 4rem;
}

/* Sección dos calzado */
.parrafoCalzado {
    @extend %parrafo;
    flex-direction: column;
    justify-content: nth($justify, 1);
    font-size: 2rem;
    text-align: center;
}

.parrafoCalzado1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: nth($justify, 1);
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
}


    .imagenes {
        display: nth($display, 2);
        @extend %imagenes;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        .imagenGrid:hover {
            transform: scale(2);       
        
        }
        
        .imagenGrid {
            transition: all 1.5s;
            img {
                border: 4px solid black;
            }
        }

    }
    

/* Sección tres calzado */
.calzadoTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.teCalzado {
    @extend %titulos;
    margin-bottom: 150px;
    margin-top: 150px;
    font-size: 4rem;
}

    .talleCalzado {
        display: nth($display, 2);
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
                
        
        img {
            border: 4px solid black;
                }
           
            }



        
