%imagenes {
    gap: 25px;
}

%titulos {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

%parrafo {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 150px;
}