%imagenes {
    gap: 50px;
    margin-left: 200px;
}

%titulos {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

%parrafo {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
}