@import "../components/listas";
/* Header */
header {

    .tituloPrincipal {
        font-size: 4rem;
        text-align: nth($textAlign, 1);
        margin-top: 2rem;
    }

    .ancho {
        width: 70px;

}
}