@import "../components/listas";
/* Header */
header {

    .ancho {
        width: 70px;
    
        .titulo {
            color: black;
            text-decoration: underline;
            text-align: nth($textAlign, 2);
            font-family: 'Roboto', sans-serif;   
            display: nth($display, 1);
            flex-direction: row;
            position: static;
            justify-content: nth($justify, 1);
            margin-top: 25px;
            margin-bottom: 10px;}
    
    }

}