@import "../components/listas";

/* Sección uno Index */

// NAVBAR
.nav {
    justify-content: nth($justify, 3);
}

.tituloPrincipal {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: nth($textAlign, 1);
    justify-content: nth($justify, 1);
    display: nth($display, 1);
    align-items: center;
    margin: 4rem;
    flex-direction: column;
    $textAlign: nth($textAlign, 1);

    p{
        margin: 3rem;
    }

}


.tituloPrimero {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: nth($textAlign, 1);
    justify-content: nth($justify, 1);
    display: nth($display, 1);
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 30px;
    @extend %titulos;
}

.subTitulos {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: nth($textAlign, 1);
    justify-content: nth($justify, 1);
    display: nth($display, 1);
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 25px;
    @extend %titulos;
}

.parrafos {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: nth($textAlign, 1);
    justify-content: nth($justify, 1);
    display: nth($display, 1);
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    font-size: 25px;
}


.descripcion {
    display: nth($display, 1);
    text-align: nth($textAlign, 1);
}

.carousel {
    display: nth($display, 1);
    align-items: center;
    justify-content: nth($justify, 1);
}

.logo {
    display: nth($display, 1);
    flex-direction: column;
    justify-content: nth($justify, 1);
    align-items: center;}

    .parrafo {
        color: black;
        text-align: nth($textAlign, 2);
        font-family: 'Roboto', sans-serif;
        display: nth($display, 1);
        flex-direction: column;
        justify-content: nth($justify, 1);
        align-items: center;
        font-size: 20px;
    
}


/* Sección tres Index */
.titulos {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: nth($textAlign, 2);
    text-decoration: underline;
    position: static;

    .logo {
        display: nth($display, 1);
        flex-direction: column;
        justify-content: nth($justify, 1);
        align-items: center;

        .parrafo {
            color: black;
            text-align: nth($textAlign, 2);
            font-family: 'Roboto', sans-serif;
            display: nth($display, 1);
            flex-direction: column;
            justify-content: nth($justify, 1);
            align-items: center;

            .foto2 {
                margin: 30px 0px 30px 1100px;
            }

        }
    }

}
